<h1>aca van las preguntas</h1>

<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
  <form class="form-inline">
    <img src="/img/stack.png" class="logo rounded float-left" alt="...">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <button class="btn btn-outline-success" type="button">Log In</button>
    <button class="btn btn-outline-success" type="button">Sign Up</button>
  </form>
  <!-- Navbar content -->
</nav>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Answers</th>
      <th scope="col">Views</th>
      <th scope="col">Questions</th>
    </tr>
  </thead>
  <tbody>
    <%@questions.each do |question|%>
    <tr>
      <td><%=question.votes%></td>
      <td><%=question.answers%></td>
      <td> 10</td>
      <td> <div>
        <ul>
          <li> <p> <%= question.title %></p></li>
          <li> <p> <%=question.user%></p></li>
          <li> <p> times </p></li>
        </ul>
      </div></td>
    </tr>
    <%end%>
  </tbody>
</table>
