.show{
  border: 1px solid black;
  border-radius: 5px;
}

.description{
  border: 1px solid black;
  border-radius: 2px;
}

.question {
	border: 1px solid green;
  border-radius: 2px;
}
.answer{
  border: 1px solid black;
  border-radius: 2px;
}

.answer_2{
  border: 1px solid blue;
  border-radius: 2px;
}

.comments{
	 border: 1px solid red;
  border-radius: 2px;

}
